Flink-ECommerce/.idea/*
Flink-ECommerce/.idea
Flink-ECommerce/META-INF/*
Flink-ECommerce/META-INF
Flink-ECommerce/out/*
Flink-ECommerce/out
SalesTranscationGenerator/.idea
SalesTranscationGenerator/target/